venv
scrapper
plan.txt
__pycache__/
*.py[cod]
local_credentials.ps1
logs
__pycache__
results
clean_requirements.py
liquidity_connector.py
tokens_to_track
analysis 
.vscode
analyze.py
solana_dex_programs.xlsx
~$*
copy_files.sh
get_files_from_server.sh
*.tar
scripts
main.py
missed_token_analysis.csv
missed_token_analysis_checked.csv
log_api.py
crypto_sniper_fixed_spacing.drawio
test.json
backup/
trade_count.json